

.menu-list {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 80vh;
}

.menu .tooltip-text {
  opacity: 0;
  display: none;
}

.menu__active .link__not-active:hover + .tooltip-text {
  opacity: 1;
  display: inline-block;
}
