.tooltip {
  display: inline-block;
  cursor: help;
}
.tooltip .tooltip-text {
  opacity: 0;
  display: none;
  width: 320px;
}

.tooltip:hover .tooltip-text {
  opacity: 1;
  display: inline-block;
}

.tooltip-text {
  padding: 0.5rem 1rem;
  position: absolute;
  width: 200px;
  background-color: var(--activeLinkBackgroundColor);
  color: var(--fontColorMenu);
  text-align: center;
  z-index: 40;
  border-radius: 8px;
  border: 2px solid var(--fontColorMenu);
  font-size: 1rem;
  text-transform: none;
  font-weight: normal;
}

.tooltip-text__right {
  top: 50%;
  transform: translateY(-50%);
  right: calc(-200px - 10px);
}

.tooltip-text__bottom {
  top: 100%;
  transform: translate(50%, .5rem);
  right: 50%;
}

.tooltip-text__top {
  top: 0;
  transform: translate(50%, -100%);
  right: 50%;
}

.tooltip-text__bottom:before,
.tooltip-text:after {
  content: "";
  position: absolute;
  border-width: 10px;
  border-style: solid;
  transition-duration: 1s;
}

.tooltip-text__right:after {
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  border-color: transparent var(--fontColorMenu) transparent transparent;
}

.tooltip-text__bottom:before {
  right: 50%;
  bottom: 100%;
  transform: translateX(50%);
  border-color: transparent transparent var(--fontColorMenu) transparent;
}
.tooltip-text__bottom:after {
  display: none;
}

.tooltip-text__top:after {
  right: 50%;
  top: 100%;
  transform: translateX(50%);
  border-color: var(--fontColorMenu) transparent transparent transparent;
}
