.boulder-author {
  font-size: 1.5rem;
  margin: 0 0 1rem;
}
.boulder-name {
  min-height: 5.5em;
  min-width: 310px;
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.7rem;
  text-transform: uppercase;
  margin: 0.5rem auto 0;
  padding: .5rem 0 0;
  color: var(--fontColorMenu);
}

.boulder-name .title {
width: 70%;
text-align: center;
}
