.holds-map {
  background-size: cover;
  width: 98%;
  box-shadow: 0 20px 20px var(--shadowColor);
}

.holds-map-start {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'><circle cx='25' cy='25' r='20' stroke='blue' stroke-width='3' fill='none'/></svg>")
      25 25,
    pointer;
}
.holds-map-hold {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'><circle cx='25' cy='25' r='20' stroke='crimson' stroke-width='3' fill='none'/></svg>")
      25 25,
    pointer;
}

.holds-map-top {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'><circle cx='25' cy='25' r='20' stroke='green' stroke-width='3' fill='none'/></svg>")
      25 25,
    pointer;
}

.holds-map-foot {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'><circle cx='25' cy='25' r='20' stroke='purple' stroke-width='3' fill='none'/></svg>")
      25 25,
    pointer;
}