.holds-map {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/nora-6c0ae.appspot.com/o/walls%2F20220117_210955.png?alt=media&token=0d79bca1-b0a7-4f47-b87e-7fd4ff215412");
  background-size: cover;
  width: 98%;
  box-shadow: 0 20px 20px var(--shadowColor);
}