* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gelasio', serif;
  --fontColorMenu: rgb(107, 107, 107);
  --backgroundColor: rgb(238, 238, 238);
  --shadowColor: rgb(167, 167, 167);
  --menuBackgroundColor: rgb(238, 238, 238, 0.9);
  --activeLinkBackgroundColor: thistle;
  position: relative;
}

body {
  max-width: 100%;
}

.clickable {
  cursor: pointer;
}
