.link::before {
  background-color: var(--activeLinkBackgroundColor);
  content: "";
  inset: 0;
  position: absolute;
  transform-origin: right;
  z-index: -1;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.link__active::before, .link:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.link__active {
  cursor: default;
}

.link {
  color: var(--fontColorMenu);
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
  width: 100%;
  padding: 0.5rem 0 0.5rem 2rem;
}
