.file-input {
    position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

input.file-input:focus + label {
    outline: thin dotted;
  }
  input.file-input:focus-within + label {
    outline: thin dotted;
  }